@charset "UTF-8";
// HTML5か否か
$use-html5: true;

// サポートブラウザの設定
$support-ie6: false;
$support-ie7: false;
$support-ie8: false;
$support-ie9: false;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : false;

// ベンダープレフィックスの設定
$set_prefix: -webkit-, -moz-, -ms-, '';

//fontsize
$fontsize20: 2rem;
$fontsize19: 1.9rem;
$fontsize18: 1.8rem;
$fontsize16: 1.6rem;
$fontsize15: 1.5rem;
$fontsize14: 1.4rem;
$fontsize13: 1.3rem;
$fontsize12: 1.2rem;
$fontsize11: 1.1rem;
$fontsize10: 1rem;
//color

$colorblue: #0e5b9a;

//breakpoint
$breakpoint: 736px;