@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}

.wrapper {
	min-width: 960px;
	margin: 0 auto;
	@include breakpoint736 {
		min-width: auto;
	}
}
a {
	text-decoration: none;
	color: #fff;
	display: block;
}
img {
	@include breakpoint736 {
		max-width: 100%;
	}
}
.hidden-lg {
	display: none;
	@include breakpoint736 {
		display: block;
	}
}
.hidden-mb {
	@include breakpoint736 {
		display: none;
	}
}
/*------------------------------------------------------------
	Header
------------------------------------------------------------*/

header {
	background-color: white;
	border-top:  3px solid #0f5c9b;
}
.container {
	width: 960px;
	margin: 0 auto;
	@include breakpoint736 {
		width: 100%;
	}
}
.top-header {
	@include cf;
	margin-top: 15px;
	@include breakpoint736 {
		margin-top: 9px;
		margin-bottom: 11px;
		padding: 0 17px;
	}
	.menu-hiddenlg {
		.close {
			display: none;
		}
		display: none;
		@include breakpoint736 {
			display: flex;
			float: right;
			padding: 6px 4px;
			background-color: $colorblue;
			border-radius: 8px;

		}
	}
	.logo {
		img {
			max-width: 100%;
			@include breakpoint736 {
				height: 40px;
				width: 158px;
			}
		}
		float: left;
	}
	.phone-number {
		text-align: left;
		float:left;
		margin-left: 120px;
		margin-top: 15px;
		@include breakpoint736 {
			display: none;
		}
		.phone {
			float: right;
			font-size: 3.2rem;
			line-height: 38px;
			color: #bababa;
			margin: -4px 0 0 2px;
		}
		.time {
			margin-top: 10px;
			font-size: $fontsize10;
			line-height: 12px;
		}
	}
	.contact-mail {
		float: right;
		margin-top: 15px;
		@include breakpoint736 {
			display: none;
		}
		&:hover {
			opacity: 0.8;
		}
		@include cf;
		.btn-mail {
			background: #ffed4d;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			color: #fd7e00;
			font-size: $fontsize14;
			font-weight: 700;
		}
	}
}

/*------------------------------------------------------------
	Nav mobile
------------------------------------------------------------*/

.nav-mobile{
	.padding-navmobile {
		padding: 0 25px;
	}
	display: none;
	@include breakpoint736 {
		display: block;
		position: absolute;
		width: 100%;
		z-index: 200;
		background-color: $colorblue;
		ul{
			display: block;
			padding: 36px 0 243px 0;
			a {
				color: white;
				&:hover {
					color: #d4d4d4;
				}
			}
			li {
				padding: 15px 0 15px 14px;
				background: url('../img/icon-arr.png') no-repeat left;
				font-size: $fontsize15;
				color: white;
				font-weight: 700;
				text-align: left;
				display: block;
				border-right: none;
				border-top: 1px dotted white;
				p {
					text-align: left;
					color: $colorblue;
					font-size: $fontsize12;
					margin-top: 10px;
				}
			}
			.last {
				border-bottom: 1px dotted white;
			}
		}
	}
}

/*------------------------------------------------------------
	Nav desktop
------------------------------------------------------------*/

nav {
	@include breakpoint736 {
		display: none;
	}
	margin-top: 20px;
	ul {
		list-style: none;
		justify-content: space-around;
		display: flex;
		padding: 18px  0;
		height: 35px;
		.line {
			height: 40px;
			width: 1px;
			border-left: 1px solid #dddddd;
			padding: 0;
		}
		a {
			color: #000000;
			padding: 0 35px 30px 35px;
			&:hover {
				color: #d4d4d4;
				border-bottom: 2px solid #dddddd;
			}
		}
		.nav-hv {
			display: none;
		}
		li {
			text-align: center;
			display: block;
		}
	}
}
.banner {
	background: url(../img/banner.jpg) center center no-repeat;
	background-size: cover;
	height: 421px;
	width: 100%;
	display: flex;
	margin-top: 20px;
	align-items: center;
	img {
		@include breakpoint736 {
			transform: scale(0.8);
			margin: 0 auto;
		}
	}
/*	.text-banner {
		min-width: 662px;
		width: 700px;
		margin: 0 auto;
		font-size: 3rem;
		padding: 5px;
		color: white;
		border: white 1px solid;
		@include breakpoint736 {
			min-width: 0;
			width: 85%;
		}
	}*/
}

/*------------------------------------------------------------
	Section
------------------------------------------------------------*/

section {
}
.padding-mobile {
	@include breakpoint736 {
		padding: 0 17px;
	}
}
.items {
	border: 1px solid #dddddd;
	padding: 30px 62px;
	display: flex;
	margin-top: 80px;
	@include breakpoint736 {
		display: block;
		margin-top: 25px;
		padding: 10px 12px 20px 12px;
	}
	.news {
		.hover {
			&:hover {
				opacity: 0.8;
			}
			@include breakpoint736 {
				display: none;
			}
		}
		align-items: center;
		padding-right: 60px;
		border-right: 1px solid #dddddd;
		display: flex;
		flex-direction: column;
		@include breakpoint736 {
			border: none;
			padding-right: 0;
		}
	}
	.time-start {
		margin-left: 40px;
		text-align: left;
		font-size: $fontsize16;
		color: $colorblue;
		@include breakpoint736 {
			margin-left: 0;
		}
		.btn-mobile {
			display: none;
			@include breakpoint736 {
				display: block;
				padding: 8px 23px 8px 10px;
				margin: 17px auto 0 auto;
				&:hover {
					opacity: 0.8;
				}
			}
		}
		span {
			text-decoration: underline;
			color: black;
			@include breakpoint736 {
				display: block;
			}
		}
		.first {
			@include breakpoint736 {
				padding: 12px  0;
				margin-top: 16px;
				border-top: 1px black dotted;
			}
		}
		p {
			@include breakpoint736 {
				padding: 12px  0;
				border-bottom: 1px black dotted;
			}
		}
	}
}
.block-main {
	width: 100%;
	background: #eeeeee;
	margin-top: 80px;
	padding: 58px 0 75px 0;
	@include breakpoint736 {
		margin-top: 30px;
		padding: 33px 0 60px 0;
	}
	.heading {
	}
	.s-heading {
		margin-top: 35px;
		font-size: $fontsize16;
		line-height: 22px;
		@include breakpoint736 {
			font-size: $fontsize14;
			margin-top: 18px;
		}
	}
	.c-block-main {
		margin-top: 60px;
		padding: 0 35px;
		display: flex;
		justify-content: space-around;
		@include breakpoint736 {
			margin-top: 23px;
			padding: 0;
		}
		img {
			cursor: pointer;
			@include breakpoint736 {
				max-width: 100%;
			}
		}
		.img-hover {
			display: none;
		}
	}
}

.c-container {
	display: flex;
	margin-top: 47px;
	@include cf;
	@include breakpoint736 {
		flex-direction: column-reverse;
		margin-top: 30px;
	}
	.block-left {
		margin-left: -30px;
		@include breakpoint736 {
			margin-left: 0;
		}
		img {
			max-width: 100%;
			height: 100%;
			width: 100%;
			@include breakpoint736 {
			}
		}
	}
	.block-right {
		padding: 30px 30px 75px 60px;
		text-align: left;
		@include breakpoint736 {
			padding: 0;
			text-align: center;
		}
		p {
			font-size: $fontsize16;
			line-height: 22px;
			margin:38px 0 30px 0;
			@include breakpoint736 {
				margin:22px 0 25px 0;
				font-size: $fontsize14;
			}
		}
		a:hover {
			opacity: 0.8;
		}
		img {
			max-width: 100%;
			@include breakpoint736 {
				transform: scale(0.8);
				margin: 0 auto;
			}
		}
	}
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
footer {
	margin-top: -2px;
	@include breakpoint736 {
	margin-top: 0;
	}
}
.c-footer {
	img {
		@include breakpoint736 {
			transform: scale(0.9);
		}
	}
	padding: 61px 0 58px 0;
	background: url(../img/bgr-ft.png) center center no-repeat;
	background-size: cover;
	@include breakpoint736 {
		padding: 35px 17px 57px 17px;
	}
	.btn {
		margin-bottom: 28px;
	}
	p {
		font-size: $fontsize16;
		line-height: 22px;
		color: white;
		@include  breakpoint736 {
			font-size: $fontsize14;
		}
	}
	.text-color {
		color: #ffff4c;
	}
	.contact-footer {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		@include breakpoint736 {
			flex-direction: column;
			align-items: center;
			margin-top: 29px;
		}
		img {
			@include breakpoint736 {
				max-width: 100%;
				transform: scale(0.8);
			}
		}
		.phone-number {
			color: white;
			text-align: left;
			float:left;
			@include breakpoint736 {
				text-align: center;
				float: none;
			}
			.time {
				margin-top: 10px;
				font-size: $fontsize12;
				line-height: 12px;
				@include breakpoint736 {
					font-size: $fontsize10;
					margin-top: 5px;
				}
			}
		}
		.contact-mail {
			float: right;
			margin-left: 60px;
			margin-top: 1px;
			&:hover {
				opacity: 0.8;
			}
			@include breakpoint736 {
				margin-left: 0;
				margin-top: 19px;
			}
			@include cf;
			.btn-mail {
				background: #ffed4d;
				padding: 15px 20px;
				display: flex;
				align-items: center;
				font-weight: 700;
				@include breakpoint736 {
					padding: 13px 15px 15px 15px;
					font-size: $fontsize13;
				}
			}
			p {
				font-size: $fontsize14;
				color: #fd7e00;
				@include breakpoint736 {
					font-size: $fontsize13;
				}
			}
		}
	}
}
.menu-footer {
	padding: 40px 0;
	background-color: #cccccc;
	@include breakpoint736 {
		padding: 20px 17px 19px 17px;
	}
	a {
		color: #222222;
		font-size: $fontsize14;
		line-height: 12px;
		@include breakpoint736 {
			font-size: $fontsize10;
			line-height: 17px;
		}
	}
	ul {
		list-style: none;
		padding: 5px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		li {
			a {
				border-right: 1px solid #5e5e5e;;
				padding: 0 20px;
				font-size: $fontsize14;
				@include breakpoint736 {
					padding: 0 15px;
					font-size: $fontsize10;
				}
			}
			.first {
				border-left: 1px solid #5e5e5e;;
			}
		}
	}
}
.bottom-footer {
	padding: 20px 0;
	font-size: $fontsize14;
	@include breakpoint736 {
		font-size: $fontsize10;
		padding: 15px 0 20px 0;
	}
}
.back-top {
	position: fixed;
	bottom: 235px;
	right: 10px;
	cursor: pointer;
	@include breakpoint736 {
		display: none !important;
	}
	.default {
		background: white;
	}
	.hv {
		display: none;
		background: none;
	}
}

/*------------------------------------------------------------
	Page TV
------------------------------------------------------------*/
.nav-tv {
	margin-top: 33px;
}
.banner-tv {
	margin-top: 20px;
	height: 160px;
	background: url(../img/banner-tv.png) center center no-repeat;
		.text-banner {
		font-size: 2.3rem;
		line-height: 33px;
		color: white;
		@include breakpoint736 {
			width: 80%;
			margin: 0 auto;
			font-size: $fontsize18;
			line-height: 25px;
		}
	}
}
.breadcrumb {
	padding: 12px 0;
	text-align: left;
	font-size: $fontsize12;
	border-bottom: 1px solid #dddddd;
	@include breakpoint736 {
		display: none;
	}
	a {
		color: $colorblue;
		display: inline;
	}
}
.block1-tv {
	padding: 68px 0 80px 0;
	@include breakpoint736 {
		padding: 30px 0 37px 0; 
	}
	h1 {
		font-size: 2.6rem;
		line-height: 31px;
		margin-bottom: 18px;
		@include breakpoint736 {
			font-size: $fontsize18;
			margin-bottom: 12px;
			line-height: 28px;
		}
	}
	p {
		margin-top: 40px;
		font-size: $fontsize16;
		line-height: 25px;
		@include breakpoint736 {
			margin-top: 20px;
			font-size: $fontsize14;
			line-height: 22px;
		}
	}
}
.c-block1-tv {
	.custom1 {
		width: 220px !important;
		@include breakpoint736 {
			width: 100% !important;
		}
	}
	.custom {
		width: 270px !important;
		@include breakpoint736 {
			width: 100% !important;
		}
	}
	.custom2 {
		width: 470px !important;
		border-right: !important;
		@include breakpoint736 {
			width: 100% !important;
		}
	}
	display: flex;
	margin-top: 45px;
	border: 1px solid #dddddd;
	@include breakpoint736 {
		display: block;
		margin-top: 14px;
	}
	.items-block {
		width: 100%;
		border-right: 1px solid #dddddd;
		.bmenu {
			background-color: $colorblue;
			padding: 15px 0;
			font-size: $fontsize16;
			color: white;
			@include breakpoint736 {
				padding: 13px 0;
				font-size: $fontsize14;
			}
		}
		.content {
			padding: 24px 17px 75px 17px;
			text-align: left;
			font-size: $fontsize16;
			@include breakpoint736 {
				padding: 13px 13px;
				font-size: $fontsize14;
			}
		}
	}
}
.main-tv {
	margin-top: 0;
	padding: 70px 0 90px 0;
	@include breakpoint736 {
		padding: 31px 0 25px 0;
	}
	.heading {
		h1 {
			font-size: 2.6rem;
			line-height: 31px;
			margin-bottom: 18px;
			@include breakpoint736 {
				font-size: $fontsize18;
				line-height: 28px;
				margin-bottom: 12px;
			}
		}
	}
}
.tv-main {
	display: block !important;
	@include breakpoint736 {
		margin-top: 15px;
	}
}
.last-block {
	margin-bottom: 0 !important;
}
.items-blockmain {
	padding: 25px;
	margin-bottom: 30px;
	background-color: white;
	@include cf;
	@include breakpoint736 {
		padding: 15px;
	}
	.box-left {
		float: left;
		@include breakpoint736 {
			float: none;
			@include cf;
		}
		.title-img {
			.custom {
				@include breakpoint736 {
					margin-left: -20px;
				}
			}
			display: flex;
			align-items: center;
			img {
				height: 100%;
				margin-right: 15px;
				@include breakpoint736 {
					margin-left: -10px;
					transform: scale(0.7);
					margin-right: 0;
				}
			}
		}
		.text {
			font-size: $fontsize16;
			line-height: 25px;
			text-align: left;
			margin-top: 27px;
			@include breakpoint736 {
				margin-top: 14px;
				font-size: $fontsize14;
				line-height: 22px;
			}
			p {
				color: $colorblue;
				font-weight: 700;
				span {
					color: black;
					font-weight: normal;
				}
			}
		}
		.custom-text {
			color: $colorblue;
			font-weight: 700;
		}
		.contact-tv {
			display: flex;
			align-items: center;
			align-content: center;
			margin-top: 25px;
			@include breakpoint736 {
				display: block;
			}
			button {
			   font-size: $fontsize10;
			   line-height: 12px;
			   border: 1px solid $colorblue;
			   padding: 7px 20px;
			   background: none;
			   color: $colorblue;
			   @include breakpoint736 {
					padding: 10px 30px;
					width: 100%;
				}
				span {
					display: block;
				}
			}
			.contact-mail {
				&:hover {
					opacity: 0.8;
				}
				@include cf;
				.btn-mail {
					background: #ffed4d;
					padding: 16px 10px;
					display: flex;
					align-items: center;
					color: #fd7e00;
					font-size: $fontsize16;
					font-weight: 700;
					margin-left: 13px;
					@include breakpoint736 {
						padding: 14px 30px;
						margin-left: 0;
						justify-content: center;
						margin-top: 10px;
						font-size: $fontsize13;
						line-height: 15px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.box-right {
		float: right;
		width: auto;
		height: auto;
		@include breakpoint736 {
			float: none;
			margin-top: 15px;
		}
		img {
			width: 100%;
			height: 100%;
		}
		.img-first {
			margin-top: 8px;
			@include breakpoint736 {
				margin-top: 0;
			}
		}
	}
}
.block2-tv {
	padding: 65px 0 82px 0;
	display: block;
	margin-top: 0;
	@include breakpoint736 {
		padding: 25px 0 30px 0;
	}
	.btn-tv {
		padding: 20px 72px;
		border: 1px solid $colorblue;
		margin-bottom: 45px;
		@include breakpoint736 {
			padding: 9px 0;
			margin-bottom: 13px;
		}
	}
	a {
		margin: 0 auto;
	}
	p {
		font-size: $fontsize16;
		line-height: 25px;
		@include breakpoint736 {
			font-size: $fontsize14;
			line-height: 22px;
		}
		span {
			font-size: 2.2rem;
			color: $colorblue;
			@include breakpoint736 {
				font-size: $fontsize19;
				line-height: 30px;
			}
		}
	}
}