/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  min-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 736px) {
  .wrapper {
    min-width: auto;
  }
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

@media screen and (max-width: 736px) {
  img {
    max-width: 100%;
  }
}

.hidden-lg {
  display: none;
}

@media screen and (max-width: 736px) {
  .hidden-lg {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .hidden-mb {
    display: none;
  }
}

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
header {
  background-color: white;
  border-top: 3px solid #0f5c9b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 736px) {
  .container {
    width: 100%;
  }
}

.top-header {
  margin-top: 15px;
}

.top-header:after {
  display: block;
  clear: both;
  content: "";
}

@media screen and (max-width: 736px) {
  .top-header {
    margin-top: 9px;
    margin-bottom: 11px;
    padding: 0 17px;
  }
}

.top-header .menu-hiddenlg {
  display: none;
}

.top-header .menu-hiddenlg .close {
  display: none;
}

@media screen and (max-width: 736px) {
  .top-header .menu-hiddenlg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    padding: 6px 4px;
    background-color: #0e5b9a;
    border-radius: 8px;
  }
}

.top-header .logo {
  float: left;
}

.top-header .logo img {
  max-width: 100%;
}

@media screen and (max-width: 736px) {
  .top-header .logo img {
    height: 40px;
    width: 158px;
  }
}

.top-header .phone-number {
  text-align: left;
  float: left;
  margin-left: 120px;
  margin-top: 15px;
}

@media screen and (max-width: 736px) {
  .top-header .phone-number {
    display: none;
  }
}

.top-header .phone-number .phone {
  float: right;
  font-size: 3.2rem;
  line-height: 38px;
  color: #bababa;
  margin: -4px 0 0 2px;
}

.top-header .phone-number .time {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 12px;
}

.top-header .contact-mail {
  float: right;
  margin-top: 15px;
}

@media screen and (max-width: 736px) {
  .top-header .contact-mail {
    display: none;
  }
}

.top-header .contact-mail:hover {
  opacity: 0.8;
}

.top-header .contact-mail:after {
  display: block;
  clear: both;
  content: "";
}

.top-header .contact-mail .btn-mail {
  background: #ffed4d;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fd7e00;
  font-size: 1.4rem;
  font-weight: 700;
}

/*------------------------------------------------------------
	Nav mobile
------------------------------------------------------------*/
.nav-mobile {
  display: none;
}

.nav-mobile .padding-navmobile {
  padding: 0 25px;
}

@media screen and (max-width: 736px) {
  .nav-mobile {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 200;
    background-color: #0e5b9a;
  }
  .nav-mobile ul {
    display: block;
    padding: 36px 0 243px 0;
  }
  .nav-mobile ul a {
    color: white;
  }
  .nav-mobile ul a:hover {
    color: #d4d4d4;
  }
  .nav-mobile ul li {
    padding: 15px 0 15px 14px;
    background: url("../img/icon-arr.png") no-repeat left;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-align: left;
    display: block;
    border-right: none;
    border-top: 1px dotted white;
  }
  .nav-mobile ul li p {
    text-align: left;
    color: #0e5b9a;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .nav-mobile ul .last {
    border-bottom: 1px dotted white;
  }
}

/*------------------------------------------------------------
	Nav desktop
------------------------------------------------------------*/
nav {
  margin-top: 20px;
}

@media screen and (max-width: 736px) {
  nav {
    display: none;
  }
}

nav ul {
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px  0;
  height: 35px;
}

nav ul .line {
  height: 40px;
  width: 1px;
  border-left: 1px solid #dddddd;
  padding: 0;
}

nav ul a {
  color: #000000;
  padding: 0 35px 30px 35px;
}

nav ul a:hover {
  color: #d4d4d4;
  border-bottom: 2px solid #dddddd;
}

nav ul .nav-hv {
  display: none;
}

nav ul li {
  text-align: center;
  display: block;
}

.banner {
  background: url(../img/banner.jpg) center center no-repeat;
  background-size: cover;
  height: 421px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*	.text-banner {
		min-width: 662px;
		width: 700px;
		margin: 0 auto;
		font-size: 3rem;
		padding: 5px;
		color: white;
		border: white 1px solid;
		@include breakpoint736 {
			min-width: 0;
			width: 85%;
		}
	}*/
}

@media screen and (max-width: 736px) {
  .banner img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	Section
------------------------------------------------------------*/
@media screen and (max-width: 736px) {
  .padding-mobile {
    padding: 0 17px;
  }
}

.items {
  border: 1px solid #dddddd;
  padding: 30px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 736px) {
  .items {
    display: block;
    margin-top: 25px;
    padding: 10px 12px 20px 12px;
  }
}

.items .news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 60px;
  border-right: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items .news .hover:hover {
  opacity: 0.8;
}

@media screen and (max-width: 736px) {
  .items .news .hover {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .items .news {
    border: none;
    padding-right: 0;
  }
}

.items .time-start {
  margin-left: 40px;
  text-align: left;
  font-size: 1.6rem;
  color: #0e5b9a;
}

@media screen and (max-width: 736px) {
  .items .time-start {
    margin-left: 0;
  }
}

.items .time-start .btn-mobile {
  display: none;
}

@media screen and (max-width: 736px) {
  .items .time-start .btn-mobile {
    display: block;
    padding: 8px 23px 8px 10px;
    margin: 17px auto 0 auto;
  }
  .items .time-start .btn-mobile:hover {
    opacity: 0.8;
  }
}

.items .time-start span {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 736px) {
  .items .time-start span {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .items .time-start .first {
    padding: 12px  0;
    margin-top: 16px;
    border-top: 1px black dotted;
  }
}

@media screen and (max-width: 736px) {
  .items .time-start p {
    padding: 12px  0;
    border-bottom: 1px black dotted;
  }
}

.block-main {
  width: 100%;
  background: #eeeeee;
  margin-top: 80px;
  padding: 58px 0 75px 0;
}

@media screen and (max-width: 736px) {
  .block-main {
    margin-top: 30px;
    padding: 33px 0 60px 0;
  }
}

.block-main .s-heading {
  margin-top: 35px;
  font-size: 1.6rem;
  line-height: 22px;
}

@media screen and (max-width: 736px) {
  .block-main .s-heading {
    font-size: 1.4rem;
    margin-top: 18px;
  }
}

.block-main .c-block-main {
  margin-top: 60px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 736px) {
  .block-main .c-block-main {
    margin-top: 23px;
    padding: 0;
  }
}

.block-main .c-block-main img {
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .block-main .c-block-main img {
    max-width: 100%;
  }
}

.block-main .c-block-main .img-hover {
  display: none;
}

.c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.c-container:after {
  display: block;
  clear: both;
  content: "";
}

@media screen and (max-width: 736px) {
  .c-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 30px;
  }
}

.c-container .block-left {
  margin-left: -30px;
}

@media screen and (max-width: 736px) {
  .c-container .block-left {
    margin-left: 0;
  }
}

.c-container .block-left img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.c-container .block-right {
  padding: 30px 30px 75px 60px;
  text-align: left;
}

@media screen and (max-width: 736px) {
  .c-container .block-right {
    padding: 0;
    text-align: center;
  }
}

.c-container .block-right p {
  font-size: 1.6rem;
  line-height: 22px;
  margin: 38px 0 30px 0;
}

@media screen and (max-width: 736px) {
  .c-container .block-right p {
    margin: 22px 0 25px 0;
    font-size: 1.4rem;
  }
}

.c-container .block-right a:hover {
  opacity: 0.8;
}

.c-container .block-right img {
  max-width: 100%;
}

@media screen and (max-width: 736px) {
  .c-container .block-right img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0 auto;
  }
}

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
footer {
  margin-top: -2px;
}

@media screen and (max-width: 736px) {
  footer {
    margin-top: 0;
  }
}

.c-footer {
  padding: 61px 0 58px 0;
  background: url(../img/bgr-ft.png) center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 736px) {
  .c-footer img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 736px) {
  .c-footer {
    padding: 35px 17px 57px 17px;
  }
}

.c-footer .btn {
  margin-bottom: 28px;
}

.c-footer p {
  font-size: 1.6rem;
  line-height: 22px;
  color: white;
}

@media screen and (max-width: 736px) {
  .c-footer p {
    font-size: 1.4rem;
  }
}

.c-footer .text-color {
  color: #ffff4c;
}

.c-footer .contact-footer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 29px;
  }
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer img {
    max-width: 100%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.c-footer .contact-footer .phone-number {
  color: white;
  text-align: left;
  float: left;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer .phone-number {
    text-align: center;
    float: none;
  }
}

.c-footer .contact-footer .phone-number .time {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 12px;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer .phone-number .time {
    font-size: 1rem;
    margin-top: 5px;
  }
}

.c-footer .contact-footer .contact-mail {
  float: right;
  margin-left: 60px;
  margin-top: 1px;
}

.c-footer .contact-footer .contact-mail:hover {
  opacity: 0.8;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer .contact-mail {
    margin-left: 0;
    margin-top: 19px;
  }
}

.c-footer .contact-footer .contact-mail:after {
  display: block;
  clear: both;
  content: "";
}

.c-footer .contact-footer .contact-mail .btn-mail {
  background: #ffed4d;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer .contact-mail .btn-mail {
    padding: 13px 15px 15px 15px;
    font-size: 1.3rem;
  }
}

.c-footer .contact-footer .contact-mail p {
  font-size: 1.4rem;
  color: #fd7e00;
}

@media screen and (max-width: 736px) {
  .c-footer .contact-footer .contact-mail p {
    font-size: 1.3rem;
  }
}

.menu-footer {
  padding: 40px 0;
  background-color: #cccccc;
}

@media screen and (max-width: 736px) {
  .menu-footer {
    padding: 20px 17px 19px 17px;
  }
}

.menu-footer a {
  color: #222222;
  font-size: 1.4rem;
  line-height: 12px;
}

@media screen and (max-width: 736px) {
  .menu-footer a {
    font-size: 1rem;
    line-height: 17px;
  }
}

.menu-footer ul {
  list-style: none;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-footer ul li a {
  border-right: 1px solid #5e5e5e;
  padding: 0 20px;
  font-size: 1.4rem;
}

@media screen and (max-width: 736px) {
  .menu-footer ul li a {
    padding: 0 15px;
    font-size: 1rem;
  }
}

.menu-footer ul li .first {
  border-left: 1px solid #5e5e5e;
}

.bottom-footer {
  padding: 20px 0;
  font-size: 1.4rem;
}

@media screen and (max-width: 736px) {
  .bottom-footer {
    font-size: 1rem;
    padding: 15px 0 20px 0;
  }
}

.back-top {
  position: fixed;
  bottom: 235px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .back-top {
    display: none !important;
  }
}

.back-top .default {
  background: white;
}

.back-top .hv {
  display: none;
  background: none;
}

/*------------------------------------------------------------
	Page TV
------------------------------------------------------------*/
.nav-tv {
  margin-top: 33px;
}

.banner-tv {
  margin-top: 20px;
  height: 160px;
  background: url(../img/banner-tv.png) center center no-repeat;
}

.banner-tv .text-banner {
  font-size: 2.3rem;
  line-height: 33px;
  color: white;
}

@media screen and (max-width: 736px) {
  .banner-tv .text-banner {
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 25px;
  }
}

.breadcrumb {
  padding: 12px 0;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 736px) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb a {
  color: #0e5b9a;
  display: inline;
}

.block1-tv {
  padding: 68px 0 80px 0;
}

@media screen and (max-width: 736px) {
  .block1-tv {
    padding: 30px 0 37px 0;
  }
}

.block1-tv h1 {
  font-size: 2.6rem;
  line-height: 31px;
  margin-bottom: 18px;
}

@media screen and (max-width: 736px) {
  .block1-tv h1 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    line-height: 28px;
  }
}

.block1-tv p {
  margin-top: 40px;
  font-size: 1.6rem;
  line-height: 25px;
}

@media screen and (max-width: 736px) {
  .block1-tv p {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 22px;
  }
}

.c-block1-tv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  border: 1px solid #dddddd;
}

.c-block1-tv .custom1 {
  width: 220px !important;
}

@media screen and (max-width: 736px) {
  .c-block1-tv .custom1 {
    width: 100% !important;
  }
}

.c-block1-tv .custom {
  width: 270px !important;
}

@media screen and (max-width: 736px) {
  .c-block1-tv .custom {
    width: 100% !important;
  }
}

.c-block1-tv .custom2 {
  width: 470px !important;
  border-right: !important;
}

@media screen and (max-width: 736px) {
  .c-block1-tv .custom2 {
    width: 100% !important;
  }
}

@media screen and (max-width: 736px) {
  .c-block1-tv {
    display: block;
    margin-top: 14px;
  }
}

.c-block1-tv .items-block {
  width: 100%;
  border-right: 1px solid #dddddd;
}

.c-block1-tv .items-block .bmenu {
  background-color: #0e5b9a;
  padding: 15px 0;
  font-size: 1.6rem;
  color: white;
}

@media screen and (max-width: 736px) {
  .c-block1-tv .items-block .bmenu {
    padding: 13px 0;
    font-size: 1.4rem;
  }
}

.c-block1-tv .items-block .content {
  padding: 24px 17px 75px 17px;
  text-align: left;
  font-size: 1.6rem;
}

@media screen and (max-width: 736px) {
  .c-block1-tv .items-block .content {
    padding: 13px 13px;
    font-size: 1.4rem;
  }
}

.main-tv {
  margin-top: 0;
  padding: 70px 0 90px 0;
}

@media screen and (max-width: 736px) {
  .main-tv {
    padding: 31px 0 25px 0;
  }
}

.main-tv .heading h1 {
  font-size: 2.6rem;
  line-height: 31px;
  margin-bottom: 18px;
}

@media screen and (max-width: 736px) {
  .main-tv .heading h1 {
    font-size: 1.8rem;
    line-height: 28px;
    margin-bottom: 12px;
  }
}

.tv-main {
  display: block !important;
}

@media screen and (max-width: 736px) {
  .tv-main {
    margin-top: 15px;
  }
}

.last-block {
  margin-bottom: 0 !important;
}

.items-blockmain {
  padding: 25px;
  margin-bottom: 30px;
  background-color: white;
}

.items-blockmain:after {
  display: block;
  clear: both;
  content: "";
}

@media screen and (max-width: 736px) {
  .items-blockmain {
    padding: 15px;
  }
}

.items-blockmain .box-left {
  float: left;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left {
    float: none;
  }
  .items-blockmain .box-left:after {
    display: block;
    clear: both;
    content: "";
  }
}

.items-blockmain .box-left .title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .title-img .custom {
    margin-left: -20px;
  }
}

.items-blockmain .box-left .title-img img {
  height: 100%;
  margin-right: 15px;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .title-img img {
    margin-left: -10px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: 0;
  }
}

.items-blockmain .box-left .text {
  font-size: 1.6rem;
  line-height: 25px;
  text-align: left;
  margin-top: 27px;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .text {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 22px;
  }
}

.items-blockmain .box-left .text p {
  color: #0e5b9a;
  font-weight: 700;
}

.items-blockmain .box-left .text p span {
  color: black;
  font-weight: normal;
}

.items-blockmain .box-left .custom-text {
  color: #0e5b9a;
  font-weight: 700;
}

.items-blockmain .box-left .contact-tv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 25px;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .contact-tv {
    display: block;
  }
}

.items-blockmain .box-left .contact-tv button {
  font-size: 1rem;
  line-height: 12px;
  border: 1px solid #0e5b9a;
  padding: 7px 20px;
  background: none;
  color: #0e5b9a;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .contact-tv button {
    padding: 10px 30px;
    width: 100%;
  }
}

.items-blockmain .box-left .contact-tv button span {
  display: block;
}

.items-blockmain .box-left .contact-tv .contact-mail:hover {
  opacity: 0.8;
}

.items-blockmain .box-left .contact-tv .contact-mail:after {
  display: block;
  clear: both;
  content: "";
}

.items-blockmain .box-left .contact-tv .contact-mail .btn-mail {
  background: #ffed4d;
  padding: 16px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fd7e00;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 13px;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-left .contact-tv .contact-mail .btn-mail {
    padding: 14px 30px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 15px;
    margin-bottom: 5px;
  }
}

.items-blockmain .box-right {
  float: right;
  width: auto;
  height: auto;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-right {
    float: none;
    margin-top: 15px;
  }
}

.items-blockmain .box-right img {
  width: 100%;
  height: 100%;
}

.items-blockmain .box-right .img-first {
  margin-top: 8px;
}

@media screen and (max-width: 736px) {
  .items-blockmain .box-right .img-first {
    margin-top: 0;
  }
}

.block2-tv {
  padding: 65px 0 82px 0;
  display: block;
  margin-top: 0;
}

@media screen and (max-width: 736px) {
  .block2-tv {
    padding: 25px 0 30px 0;
  }
}

.block2-tv .btn-tv {
  padding: 20px 72px;
  border: 1px solid #0e5b9a;
  margin-bottom: 45px;
}

@media screen and (max-width: 736px) {
  .block2-tv .btn-tv {
    padding: 9px 0;
    margin-bottom: 13px;
  }
}

.block2-tv a {
  margin: 0 auto;
}

.block2-tv p {
  font-size: 1.6rem;
  line-height: 25px;
}

@media screen and (max-width: 736px) {
  .block2-tv p {
    font-size: 1.4rem;
    line-height: 22px;
  }
}

.block2-tv p span {
  font-size: 2.2rem;
  color: #0e5b9a;
}

@media screen and (max-width: 736px) {
  .block2-tv p span {
    font-size: 1.9rem;
    line-height: 30px;
  }
}
